.sidenav {
    background-color: #1F1F1F;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav a:hover {
    background-color: #121212;
}

.sidenav i {
    padding-right: 10px;
}

.content { 
    padding: 16px;
    background-color: #FFF;
    color: #1F1F1F;
}
